
.navbar {
    max-width: 1250px;
    margin: 0 auto;
}


.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 1250px;
    margin: 0 auto;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    padding: 15px;
    height:100vh;
}

.col-50 {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.col-100 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.col-login {
    width:100%;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    gap: 10px;
    border:1px solid red;
}

.box-login {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    gap: 30px;
    box-shadow: 0 0 5px #590094;
}

.grid-button {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

    .grid-button-login{
        justify-content:center;
    }

    .user {
        width: 300px !important;
        height: 30px;
    }

.password {
    width: 300px !important;
    height: 30px;
}

input[type*="text"] {
    width: 80%;
    height: 30px;
}

    input[type*="text"]:focus {
        border-color: none;
        box-shadow: 0 0 5px #590094;
        outline: none;
    }

#TMessaggio {
    width: 100%;
    height: 300px;
    resize: none;
    vertical-align: top;
}

    #TMessaggio:focus {
        border-color: none;
        box-shadow: 0 0 5px #590094;
        outline: none;
    }

#TComunicazione {
    width: 100%;
    height: 300px;
    vertical-align: top;
    resize: none;
}

    #TComunicazione:focus {
        border-color: none;
        box-shadow: 0 0 5px #590094;
        outline: none;
    }



.btn-comunicazione {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

#BRP{
    width:auto !important;
    padding:auto;
}

/*Liste*/
[id*="D"] {
    width: 80%;
    height: 30px;
}

    [id*="D"]:focus {
        border-color: none;
        box-shadow: 0 0 5px #590094;
        outline: none;
    }
/* BOTTONI */
[id*="B"] {
    width: 150px;
    height: 30px;
    background-color: #590094;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    /*        gap:10px;*/
}

    [id*="B"]:hover {
        border-color: #590094;
        background-color: white;
        color: #590094;
        box-shadow: 0 0 6px #D9A1FF;
    }
/* RESPONSIVE */
@media (max-width: 800px) {
    .col-50 {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .grid-button {
        margin-top: 10px;
    }
}

@media(max-width: 800px) {
    input[type="text"] {
        width: 100%;
    }
}


/*.container-nav {
    background-color: #590094;
    display:flex;
    margin:0 auto;
}*/

.menu {
    display: flex;
    background-color: #590094;
    justify-content: space-evenly;
    align-items: center;
}

a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.navigazione li {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 7px;
    border-radius: 5px;
}

a:hover {
    font-weight: bold;
    color: white;
    box-shadow: 0 0 5px #D9A1FF;
    border-radius: 50px;
    padding: 5px 20px;
}

.Logo {
    height: 100px;
    width: 150px;
    filter: brightness(0) invert(1);
}


#LogoNotifica {
    height: 20px;
    width: 20px;
}

#lblWelcome {
    color: white;
    text-decoration: 2px underline;

}

.footer {
    background-color: #590094;
    max-width: 1250px;
    margin: 0 auto;
    padding: 15px;
    color: white;
}


/* GRIDVIEW CSS*/

table {
    border: 1px solid #590094 !important;
    text-align:center;
    width:100%;
    
}

.gridvieww {
    font-weight: bold;
    table-layout: 100%;
    
}

    .gridvieww th {
        background-color: #590094;
        color: white;
        height: 70px;
        max-width: 70px;
    }

    .gridvieww td {
        max-width: 30px;
        color: black;
        border: 1px solid #c400a3;
        padding: 5px;
    }

        .gridvieww td:nth-child(5) { /* se è la seconda colonna */
            max-width: 200px; /* larghezza massima della cella */
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

       

        .col-button {
            width: 50px;
        }

.iconb {
    border: none;
    background-color: white;
    cursor: pointer;
    margin-right: 8px;
    font-size: 18px;
    color: #590094;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    box-shadow: 0 5px 2px rgba(0,0,0,0.2);
}

    .elimina {
        background-color: red;
        color:white;
    }

        .elimina:hover {
            background-color: darkred!important;
        }

    .iconb:hover {
        border: 1px #590094;
        background: #590094;
        cursor: pointer;
        margin-right: 8px;
        font-size: 18px;
        color: white;
    }

    

/* RESET */

*, *:before, *:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style-type: none;
}

body, html {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
